<!--Full list of tags -  https://www.w3schools.com/tags/default.asp -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>


    <!--HTML head Elements
Tag	Description
<head>	Defines information about the document
<title>	Defines the title of a document
<base>	Defines a default address or a default target for all links on a page
<link>	Defines the relationship between a document and an external resource
<meta>	Defines metadata about an HTML document
<script>	Defines a client-side script
<style>	Defines style information for a document -->


</head>
<body>
<h1>This is a Heading1</h1>
<h2>This is a Heading2</h2>
<h3>This is a Heading3</h3>
<h4>This is a Heading4</h4>
<h5>This is a Heading5</h5>
<h6>This is a Heading6</h6>

<p>This is a paragraph.</p>
<p style="color:#63ff8b">This is a free color paragraph.</p>
<p title="tooltip">This a paragraph with tooltip</p>
<hr>  <!-- горизонтальная линия -->

<!-- Preformated text -->
<pre>
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks
</pre>

<!-- Ссылки -->
<a href="https://www.w3schools.com">This is a link to W3 shools site</a>
<br>
<br> <!-- Переход на новую строку -->
<a href="http://127.0.0.1:5000/">This is a link to home page</a>
<br>
<br>
<!-- Изображения -->

<img src="static/cat.jpg" alt="Cat picture" width="250" height="250">
<br>
<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
<br>
<!-- Кнопка -->

<button>click me</button>
<br>

<!-- Lists  - ordered and unordered -->

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<ol start="50">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<ol type="I" start="50">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<!-- Block-level Elements -->

<!-- <address>  <article   ><aside>   <blockquote>   <canvas>   <dd>
<div>  <dl>   <dt>   <fieldset>   <figcaption>   <figure>  <footer>  <form>
<h1>-<h6>  <header>  <hr>   <li>  <main>   <nav>   <noscript>  <ol>  <p>  <pre>
<section>  <table>  <tfoot>  <ul>   <video>-->

<div style="border: 1px solid black">Hello World</div>

<p>The DIV element is a block element, and will always start on a new line
    and take up the full width available (stretches out to the left and right
    as far as it can).</p>


<!-- Inline element -->

<!-- <a>  <abbr>   <acronym>   <b>  <bdo>  <big>  <br>  <button>  <cite>
<code>  <dfn>  <em>  <i>  <img>  <input>  <kbd>  <label>  <map>  <object>
<output> <q>  <samp>  <script>  <select>  <small>  <span>  <strong>
<sub>  <sup  ><textarea>  <time>  <tt>  <var>-->

<p>This is an inline span <span style="border: 1px solid black">Hello World</span> element inside a paragraph.</p>

<p>The SPAN element is an inline element, and will not start
    on a new line and only takes up as much width as necessary.</p>


<!-- Using The class Attribute
The HTML class attribute is used to define equal styles for elements
with the same class name.
So, all HTML elements with the same class attribute will get the same style. -->


<!-- The id attribute specifies a unique id for an HTML element
(the value must be unique within the HTML document).
In CSS, to select an element with a specific id, write a hash (#) character,
followed by the id of the element-->

<!-- Difference Between Class and ID
An HTML element can only have one unique id that belongs to that single element,
while a class name can be used by multiple elements -->

</body>
</html>